<!doctype html>
<html lang="en">

<!-- @ethicalralph -->
<%- include('../template/head') %>
<!-- @ethicalralph -->
<body>
    <!-- @ethicalralph -->
    <header>
        <%- include('../template/header') %>
    </header>
    <!-- @ethicalralph -->

    <div class="login-form-container">
        <div class="login-container">
            <div class="form">
                <%if (typeof msg !== 'undefined' && typeof msg == 'string') { %>
                <div class="email" style="color: red;"><%= msg %></div>
                <% } %>
                <%if (typeof successMsg !== 'undefined') { %>
                <div style="color: green;text-align: center;"><%= successMsg %></div>
                <% } %>
                <form class="login-form" action="/changepassword" method="POST">
                    <%if (typeof error !== 'undefined' && typeof error.response === 'string') { %>
                    <div class='login-error-response' style="text-align: center;"><%= error.response %></div>
                    <% } %>
                    <label for="password">Password</label>
                    <%if (typeof error !== 'undefined' && typeof error === 'object') { %>
                    <div class='login-error'><%= error.response.password %></div>
                    <% } %>
                    <input class="login-input" type="password" placeholder="Enter your new password" id="password" name="password"
                        required />
                    <label for="confirmPassword">Confirm Password</label>
                   <%if (typeof error !== 'undefined' && typeof error === 'object') { %>
                    <div class='login-error'><%= error.response.confirmPassword %></div>
                    <% } %>
                    <input class="login-input" type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword"
                        required />
                    <button class="login-btn" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <!-- @ethicalralph -->
        <div class="login-img"></div>
    </div>
    <!-- @ethicalralph -->
    <%- include('../template/footer') %>
    <!-- @ethicalralph -->
</body>
</html>
