<!doctype html>
<html lang="en">

<!-- @olanetsoft -->
<%- include('../template/head') %>
<!-- @olanetsoft -->
<body>
    <!-- @olanetsoft -->
    <header>
        <%- include('../template/header') %>
    </header>
    <!-- @olanetsoft -->

    <div class="login-form-container">
        <div class="login-container forget-password_container">
            
            <div class="form">
                <%if (typeof successMsg !== 'undefined') { %>
                <div style="color: green;"><%= successMsg %></div>
                <% } %>
                <form class="login-form" action="/forgot-password" method="POST">
                    <%if (typeof error !== 'undefined' && typeof error.response === 'string') { %>
                    <div  class='login-error-response'><%= error.response %></div>
                    <% } %>
                    <label for="email">Email</label>
                    <%if (typeof error !== 'undefined' && typeof error === 'object' && Object.keys(error).length > 0) { %>
                    <div class='login-error'><%= error.response.email %></div>
                    <% } %>
                    <input class="login-input" type="email" placeholder="Email address" id="email" name="email" required />
                    
                    <button class="login-btn" type="submit">Submit</button>
                    <p class="form-link">Remembered account password? <a class="form-link" href="/login">Click to
                            Login</a></p>
                </form>
            </div>
        </div>
        <!-- @olanetsoft -->
        <!-- <div class="login-img"></div> -->
    </div>
</body>
</html>
