<!doctype html>
<html lang="en">

<!-- @olanetsoft -->
<%- include('../template/head') %>
<!-- @olanetsoft -->

<body>
    <!-- @olanetsoft -->
    <header>
        <%- include('../template/header') %>
    </header>
    <!-- @olanetsoft -->

    <div class="login-form-container">
        <div class="login-container">
            <div class="google-login-btn">
                <img class="login-icon"
                    src="https://res.cloudinary.com/oluwatobiloba/image/upload/v1591804664/incredible%20project/giigke_t85qnf.png" />
                <button class="google-btn">
                    <a href='/googleauth'>
                        Login with Google
                    </a>
                </button>
            </div>
            <div class="or">
                <hr />
                <span>OR</span>
                <hr />
            </div>
            <div class="form">
                <%if (typeof msg !== 'undefined' && typeof msg == 'string') { %>
                <div class="email" style="color: red;"><%= msg %></div>
                <% } %>
                <%if (typeof successMsg !== 'undefined') { %>
                <div style="color: green;text-align: center;"><%= successMsg %></div>
                <% } %>
                <form class="login-form" action="/login" method="POST">
                    <%if (typeof error !== 'undefined' && typeof error.response === 'string') { %>
                    <div class='login-error-response' style="text-align: center;"><%= error.response %></div>
                    <% } %>
                    <label for="email">Email</label>
                    <%if (typeof error !== 'undefined' && typeof error === 'object') { %>
                    <div class='login-error'><%= error.response.email %></div>
                    <% } %>
                    <input class="login-input" type="email" placeholder="Email address" id="email" name="email"
                        required />
                    <label for="password">Password</label>
                    <%if (typeof error !== 'undefined' && typeof error === 'object') { %>
                    <div class='login-error'><%= error.response.password %></div>
                    <% } %>
                    <input class="login-input" type="password" placeholder="Password" id="password" name="password"
                        required />
                    <a class="form-link forgot-password" href="/forgot-password">Forgot Password?</a>
                    <br>
                    <button class="login-btn" type="submit">Login</button>
                    <p class="form-link">Don't have an account? <a class="form-link" href="/register">Click to
                            Register</a></p>
                </form>
            </div>
        </div>
        <!-- @olanetsoft -->
        <div class="login-img"></div>
    </div>
    <!-- @olanetsoft -->
    <%- include('../template/footer') %>
    <!-- @olanetsoft -->
</body>

</html>