<!doctype html>
<html lang="en">

<!-- @olanetsoft -->
<%- include('../template/head') %>
<!-- @olanetsoft -->

<body>
    <!-- @olanetsoft -->
    <header>
        <%- include('../template/header') %>
    </header>
    <!-- @olanetsoft -->

    <div class="login-form-container">


        <div class="login-container">

          <div class="social-login-container">
              <a href="/facebook" class="button" role="button"><i class="fab social-icon fa-facebook fa-3x"></i></a>
              <a href="/github" class="button" role="button"><i class="fab social-icon fa-github fa-3x"></i></a>
              <a href="/google" class="button" role="button"><i class="fab social-icon fa-google-plus fa-3x"></i></a>
          </div>

            <div class="or">
                <p>or sign in with your email </p>
            </div>
            <div class="form">
                <%if (typeof msg !== 'undefined' && typeof msg == 'string') { %>
                <div class="email" style="color: red;"><%= msg %></div>
                <% } %>
                <%if (typeof successMsg !== 'undefined') { %>
                <div style="color: green;text-align: center;"><%= successMsg %></div>
                <% } %>
                <form class="login-form" action="/login" method="POST">
                    <%if (typeof error !== 'undefined' && typeof error.response === 'string') { %>
                    <div class='login-error-response' style="text-align: center;"><%= error.response %></div>
                    <% } %>

                    <%if (typeof error !== 'undefined' && typeof error === 'object') { %>
                    <div class='login-error'><%= error.response.email %></div>
                    <% } %>
                    <input class="login-input" type="email" placeholder=" &#xf2bd; Username"  id="email" name="email"
                        required />

                    <%if (typeof error !== 'undefined' && typeof error === 'object') { %>
                    <div class='login-error'><%= error.response.password %></div>
                    <% } %>
                    <input class="login-input" type="password" placeholder="&#xf023; Password" id="password" name="password"
                        required />
                    <a class="form-link forgot-password" href="/forgot-password">Forgot Password?</a>
                    <br>
                    <button class="login-btn" type="submit">Login</button>
                    <p class="form-link">Don't have an account? <a class="form-link" href="/register">Sign Up</a></p>
                </form>
            </div>
        </div>
        <!-- @olanetsoft -->
        <div class="login-img"></div>
    </div>
    <!-- @olanetsoft -->
    <%- include('../template/footer') %>
    <!-- @olanetsoft -->
</body>

</html>
